<div class="row">
	<div class="col-lg pt-4 pb-4">
		<h2>{{title}}</h2>
		<div *ngIf="alertMessage" class="alert {{typeMessage}}">
			{{alertMessage}}
		</div>
		<div *ngIf="identity && identity.role == 'ROLE_ADMIN'">
			<p>Gestionar artistas registrados</p>
			<a  class="btn btn-dark" href="#" role="button" [routerLink]="['/create-artist']">Añadir artista</a>
		</div>
		
		<br>
		<div *ngIf="artists">
			<div class="row">
				<div class="col-lg-9"></div>
				<div class="col-lg-3">
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-end">
							<li class="page-item">
								<a class="page-link text-dark" [routerLink]="['/artists/', prev_page]" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
							</li>
							<li class="page-item">
								<a class="page-link text-dark" [routerLink]="['/artists/', next_page]" href="#"><i class="fas fa-chevron-right"></i></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="row row-cols-6 row-cols-md-4">
				<div *ngFor="let artist of artists" class="col mb-4">
					<div class="card">
						<img src="{{url+'get-image-artist/'+artist.image}}" class="card-img-top" alt="...">
						<div class="card-body">
							<p class="card-text"><a class="text-decoration-none text-dark" [routerLink]="['/artist/', artist._id]" href="#">{{artist.name}}</a></p>
							<div *ngIf="identity.role == 'ROLE_ADMIN'">
								<a [routerLink]="['/edit-artist/', artist._id]" href="#" class="btn btn-dark">Editar</a>
								<a [swal]="{title: 'Atención', text: '¿Eliminar artista?', icon: 'warning', showCancelButton: true, reverseButtons: true, focusConfirm: false, confirmButtonText: 'Aceptar', cancelButtonText: 'Cancelar'}" (confirm)="deleteArtistConfirm(artist._id)" href="#" class="ml-1 btn btn-danger">Eliminar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>