<div class="row">
	<div class="col-lg pt-4 pb-4">
		<h2>{{title}}</h2>
		<p>Actualiza los datos de tu cuenta</p>
		<div class="row">
			<div class="col-lg-6">
				<div *ngIf="alertMessage" class="alert {{typeMessage}}" role="alert">
					{{alertMessage}}
				</div>
				<form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()">
					<div class="text-center" *ngIf="user.image != 'null'">
						<img id="avatar_form_usuario" src="{{url + 'get-image-user/' + identity.image}}" alt="" width="240px" height="240px" class="rounded-circle">
					</div>
					<p>
						<label for="upus_image">Subir imagen</label><br>
						<input type="file" name="upus_image" id="upus_image" placeholder="Selecciona un archivo..." (change)="fileChangeEvent($event)">
					</p>
					<p>
						<label for="upus_name">Nombre (s)</label>
						<input type="text" #upus_name="ngModel" name="upus_name" id="upus_name" [(ngModel)]="user.name"
							class="form-control" placeholder="Nombre" value="" required>
						<span *ngIf="!upus_name.valid && upus_name.touched" class="text-danger">
							Nombre requerido
						</span>
					</p>
					<p>
						<label for="upus_surname">Apellidos</label>
						<input type="text" #upus_surname="ngModel" name="upus_surname" id="upus_surname"
							[(ngModel)]="user.surname" class="form-control" placeholder="Apellidos" required>
						<span *ngIf="!upus_surname.valid && upus_surname.touched" class="text-danger">
							Apellidos requeridos
						</span>
					</p>
					<p>
						<label for="upus_email">Correo electrónico</label>
						<input type="email" #upus_email="ngModel" name="upus_email" id="upus_email" [(ngModel)]="user.email"
							class="form-control" placeholder="correo@dominio.com" required>
						<span *ngIf="!upus_email.valid && upus_email.touched" class="text-danger">
							Correo electrónico requeridos
						</span>
					</p>
					<button [disabled]="!userUpdateForm.form.valid" type="submit" class="btn btn-dark" value="Guardar">Guardar</button>
				</form>
			</div>
		</div>
	</div>
</div>